.contapai{
    display: flex;
    justify-content: center;
    gap: 300px;
    align-items: center;
    margin-top: 100px;
}
.container{
    padding: 20px;
    box-shadow: 0px 0px 10px 3px #c6c6c6;
    display: flex;
    
    
}
.container:hover{
    transform: scale(1.1) ;
    transition: ease-in-out 0.5s;
}
.container img{
    max-width: 300px;
}
button{
    background-color: rgba(255, 255, 255, 1);
    border: none;
}