* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background-color: #3649f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
    overflow-x: hidden;
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 1000px;
    border: 5px solid #212121;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #212121;
}

.botao-adicionar {
    display: inline-block;
    margin-bottom: 20px;
    background-color: #e8e000;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-adicionar:hover {
    background-color: #d1ce00;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #eeeeee;
    color: #212121;
}

td img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid #ccc;
}

.botao-visualizar {
    background-color: #1565c0;
    color: white;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.botao-visualizar:hover {
    background-color: #0d47a1;
}
.rei, .rei2{
    position: fixed;
    
    height: 300px;

}
.rei {
    width: 200px;
    left: 10px;
}
.rei2 {
    right: -160px;
}
