html, body, #root {
  height: 100%;
  margin: 0;
}

.mainContainer{
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  justify-content: center;
  
}
.containerCard{

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 300px  ;
}
.Cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.MuiCard-root{
  width: 250px;
  height: 350px;
  
};