body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   gap: 10px
   ;
}
section{
    display: flex;
    gap: 20px
    ;
    flex-direction: row;
}
.azul {
    height: 400px;
    width: 200px;
    background-color: blue;
}

.vermelho {
    height: 400px;
    width: 200px;
    background-color: rgb(255, 0, 0);
}

.verde {
    height: 400px;
    width: 200px;
    background-color: rgb(43, 255, 0);
}
button{
    width: 700px;
}